/* Estilos generales */
* {
    box-sizing: border-box;
    font-size: 18px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

h1 {
    font-size: 2em;
    font-family: 'Glegoo', serif;
    color: #d33a89;
}

h2 {
    text-align: center;
    font-size: 1.4rem;
    color: #d33a89;
    font-family: 'Manrope', sans-serif;
}

/* Estilos generales */
* {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

.badge.bg-info {
    font-size: 1.2em; /* Puedes ajustar el valor según tus necesidades */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Barra de navegacion */

.navbar {
    height: 10vh;
    width: 100%;
}

.navbar-nav {
    display: flex;
    justify-content: space-around; /* Distribuir enlaces horizontalmente */
    align-items: center;
    height: 100%;
    background-color: #212529;
    padding: 5px 10px;
    color: #ffffff;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #d33a89;
}


/**/
.seccion-exper {
    margin: 20px 30px;
    text-align: center;
}
.columna-exp{
    padding: 40px auto;
    margin: 20px;
}


.hero {
    padding: 40px 0;
}

.hero-principal {
    text-align: center;
}

.hero-principal-img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.seccion-sobremi {
    background-color: #212529; /* Color de fondo oscuro para la sección "Sobre Mi" */
    color: #ffffff; /* Color de texto blanco para la sección "Sobre Mi" */
    padding: 40px;
    text-align: center;
}

.seccion-sobremi:hover {
    background-color: #d33a89;
    color: #fff;
}


/*Cards*/



/* GITHUB */
.proyectos-recientes {
    background-color: #f8f9fa; /* Color de fondo claro para la sección "Proyectos Recientes" */
    padding: 40px 0;
}

.proyectos-contenedor {
    margin-top: 20px;
}

.proyecto {
    position: relative;
}

.proyecto img {
    width: 100%;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.overlay:hover {
    opacity: 1;
}

.overlay a {
    color: #ffffff; /* Color blanco para los iconos de la superposición */
    font-size: 2em;
    margin: auto 50%x;
}

.icono-github, .icono-browser {
          font-size: 3em; 
          margin: auto 20px;
     }


.formulario {
    color: #d33a89; /* Color de texto blanco para la sección del formulario de contacto */
    padding: 40px 0;
}

#contactForm {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #d33a89; /* Color rosa para las etiquetas */
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d33a89; /* Color de borde rosa para los campos de entrada */
    border-radius: 5px;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d33a89; /* Color de fondo rosa para los botones */
    color: #ffffff; /* Color de texto blanco para los botones */
    font-size: 1em;
    margin-right: 10px;
}

button a {
    color: #ffffff; /* Color blanco para los enlaces de los botones */
    text-decoration: none;
}

button:hover {
    background-color: #ffffff; /* Color de fondo blanco para los botones al pasar el mouse */
    color: #d33a89; /* Color rosa para el texto de los botones al pasar el mouse */
}

footer {
    background-color: #343a40; 
    color: #ffffff; 
    padding: 20px 0;
}

.social-icons a {
    color: #d33a89; 
    font-size: 1.5em;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #ffffff; 
}
