/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(./images/fondo.jpg);
    overflow-x: hidden;
}

main {
    background: rgba(0, 0, 0, 0.5);
    padding: 0 30px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 18px;
}

h1,
h2 {
    font-size: 1.1em;
    color: #fff;
}

.subtitulo {
    color: #23d5ab;
    margin: 50px auto;
    font-family: "Inter", sans-serif;
}

a:link,
a:visited,
a:active,
i {
    text-decoration: none;
    color: #23d5ab;
    line-height: 1.5em;
    margin: 5px;
}

a :hover {
    color: #ee7752;
    font-size: 1.4em;
}

.nombre {
    margin: 100px auto;
}

/* Contenedor del icono */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e73c7e;
    color: #ffffff;
    padding: auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    width: 3em;
    height: 3em;
}

#scroll-to-top i {
    padding: 5px;
    font-size: 2em;
}

/*textoi de nombre animado */
.animado {
    font-size: 3em;
    animation: fluido 10s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Configuro como va sel KF fluido */
@keyframes fluido {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

.nombre h2 {
    font-size: 2em;
    font-family: "Kode Mono", monospace;
    color: #ee7752;
}

/* Globos informatios */
.badge.bg-black {
    display: block;
    font-size: 1.2em;
    outline: 1px solid #23d5ab;
    padding: 5px;
    transition: outline 0.3s, color 0.2s;
    padding: 5px 10px;
    margin: 10px 0;
}
.exp-badge-contenedor p {
    font-size: 1em;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Barra de navegacion */
.navbar {
    height: 10vh;
    width: 100%;
    position: fixed;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    /* Distribuir enlaces horizontalmente */
    align-items: center;
    height: 100%;
    background-color: #212529;
    padding: 5px 10px;
    position: relative;
    top: 15px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
}


/*Section Exper*/
.seccion-exper {
    margin: 20px 30px;
    text-align: center;

}

.columna-exp {
    padding: 40px auto;
    margin: 20px;
    color: #ffffff;
    padding: 30px;

}


.nombre-principal-img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.seccion-sobremi {
    color: #ffffff;
    padding: 10px;
}

.seccion-sobremi:hover {
    background-color: rgb(211, 58, 137, 0.7);
    color: #fff;
}

.seccion-sobremi p {
    font-size: 1em;
    line-height: 2em;
    font-style: italic;
}


/* GITHUB */
.proyectos-div {
    margin: 20px auto;
}

.links {
    font-size: 1.5em;
}


/*FRASE*/
.frase {
    font-size: 1.3em;
    margin: 50px;
    font-family: "Mulish", sans-serif;
    color: #ffffff;
}


/* CONTACTO */
.contactForm {
    width: 100%;
}
.formulario {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

#contactForm {
    width: 70%;
    margin: 0 auto;
}

label { /*Textos del  formulario */
    display: block;
    margin: 15px auto;
    color: #ffffff;
    width: 100%;
    font-size: 1.4em;
}



input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ee7752;
    color: #ffffff;
    font-size: 1em;

}

.contactForm_button {
    margin: 30px auto;
}

.contactForm_button:hover {
    background-color: #fd3b00;
    color: #ffffff;
}


/* FOOTER */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}

.social-icons a {
    color: #d33a89;
    font-size: 1.5em;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #ffffff;
}

.fa-brands {
    font-size: 2em;
    margin: auto 20px;
    color: #FFF;
}

.fa-brands:hover {
    color: #fd3b00;
}